<div class="publications-list">
<% for (const item of items) {
  const authors = item.authors ? (item.authors.length === 1 ? item.authors[0] :
                                  item.authors.length === 2 ? item.authors.join(' and ') :
                                  item.authors.slice(0, -1).join(', ') + ', and ' + item.authors[item.authors.length - 1]) : '';
  const yearStr = new Date(item.date).getFullYear();
  const pub = item.publication ? item.publication.replace(/\*/g, '') : '';
  const title = item.title || '';
  const pubDir = item.path ? item.path.replace('/index.qmd', '') : '';
  const dirName = pubDir.split('/').pop();
  const pdfPath = pubDir + '/' + dirName + '.pdf';
  const thumbnailPath = pubDir + '/thumbnail.jpg';
%>
<div class="publication-item">
<div class="publication-thumbnail">
<a href="<%- pdfPath %>" target="_blank" rel="noopener">
<img src="<%- thumbnailPath %>" alt="" loading="lazy" />
</a>
</div>
<div class="publication-content">
<div class="publication-citation">
<%- authors %>. <%- yearStr %>. "<%- title %>." <em><%- pub %></em>. <% if (item.doi) { %><a href="https://doi.org/<%- item.doi %>" target="_blank">[DOI]</a><% } %> <a href="<%- pdfPath %>" target="_blank" rel="noopener">[PDF]</a>
</div>
<% if (item.abstract) { %>
<details class="publication-abstract">
<summary>Abstract</summary>
<p><%- item.abstract %></p>
</details>
<% } %>
</div>
</div>
<% } %>
</div>
